{% extends 'base.html.twig' %}

{% block title %}Hello SaveTheDateController!{% endblock %}

{% block body %}
    <!-- start of hero -->
    <section class="wpo-hero-slider wpo-hero-style-3">
        <div class="wedding-announcement">
            <div class="couple-text">
                <h2 class="wow slideInUp" data-wow-duration="1s">Laura & Mikah</h2>
                <p class="wow slideInUp" data-wow-duration="1.8s">Venez célébrer avec nous le 2 Septembre 2023</p>
                <!-- start wpo-wedding-date -->
                <div class="wpo-wedding-date wow slideInUp" data-wow-duration="2.1s">
                    <div class="clock-grids">
                        <div id="clock"></div>
                    </div>
                </div>
                <!-- end wpo-wedding-date -->
            </div>
        </div>

        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="slide-inner slide-bg-image" data-background="{{ asset('img/slide-1.jpeg') }}">
                    </div> <!-- end slide-inner -->
                </div> <!-- end swiper-slide -->

                <div class="swiper-slide">
                    <div class="slide-inner slide-bg-image" data-background="{{ asset('img/slide-2.jpg') }}">
                    </div> <!-- end slide-inner -->
                </div> <!-- end swiper-slide -->

                <div class="swiper-slide">
                    <div class="slide-inner slide-bg-image" data-background="{{ asset('img/slide-3.JPG') }}">
                    </div> <!-- end slide-inner -->
                </div> <!-- end swiper-slide -->

                <div class="swiper-slide">
                    <div class="slide-inner slide-bg-image" data-background="{{ asset('img/slide-4.jpg') }}">
                    </div> <!-- end slide-inner -->
                </div> <!-- end swiper-slide -->

                <div class="swiper-slide">
                    <div class="slide-inner slide-bg-image" data-background="{{ asset('img/slide-5.jpg') }}">
                    </div> <!-- end slide-inner -->
                </div> <!-- end swiper-slide -->
            </div>
            <!-- end swiper-wrapper -->

            <!-- swipper controls -->
            <div class="swiper-pagination"></div>
            <div class="next-prev-btn">
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </section>
    <!-- end of hero slider -->
    <!-- start of wpo-contact-section -->
    <section class="wpo-contact-section section-padding pt-100" id="informations">
        <div class="container">
            <div class="row">
                <div class="wpo-section-title">
                    <h2>Save the date!</h2>
                </div>
            </div>
            <div class="wpo-contact-section-wrapper">
                <div class="wpo-contact-form-area">
                    <div class="wpo-section-title">
                        <div class="section-title-icon">
                            <i class="fi flaticon-wedding-rings"></i>
                        </div>
                        <h2>Comment pouvons nous vous contacter?</h2>
                    </div>
                    {{ form_start(form) }}
                    <div>
                        {{ form_widget(form.firstName, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div>
                        {{ form_widget(form.lastName, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div>
                        {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div>
                        {{ form_widget(form.address, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div>
                        {{ form_widget(form.city, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div>
                        {{ form_widget(form.postcode, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div>
                        {{ form_widget(form.country, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="submit-area">
                        {{ form_widget(form.submit) }}
                    </div>
                    {{ form_end(form) }}
                    <div class="border-style"></div>
                </div>
                <div class="vector-1">
                    <img src="assets/images/rsvp/flower1.png" alt="">
                </div>
                <div class="vector-2">
                    <img src="assets/images/rsvp/flower2.png" alt="">
                </div>
            </div>
        </div>
        <div class="shape-1">
            <img src="assets/images/rsvp/shape1.png" alt="">
        </div>
        <div class="shape-2">
            <img src="assets/images/rsvp/shape2.png" alt="">
        </div>
    </section>
    <!-- end of wpo-contact-section -->
    <!-- start wpo-event-section -->
    <section class="wpo-event-section section-padding" id="event">
        <div class="container">
            <div class="row">
                <div class="wpo-section-title-s2">
                    <div class="section-title-icon">
                        <i class="fi flaticon-wedding-rings"></i>
                    </div>
                    <h2>Où</h2>
                </div>
            </div>
            <div class="wpo-event-wrap">
                <div class="row">
                    <div class="col col-lg-4 col-md-6 col-12">
                        <div class="wpo-event-item">
                            <div class="wpo-event-text">
                                <h2>La Mairie</h2>
                                <ul>
                                    <li>À confirmer</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-4 col-md-6 col-12">
                        <div class="wpo-event-item">
                            <div class="wpo-event-text">
                                <h2>La Cérémonie</h2>
                                <ul>
                                    <li>2837 Route d'Eyguières - RD 17 - 13300 Salon-de-Provence</li>
                                    <li> <a class="popup-gmaps"
                                            href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2885.6379196244548!2d5.063094315498517!3d43.67649967912046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12c9ffff2c23596f%3A0x3402bba61cabd6a1!2sLa%20Bergerie%20du%20Domaine%20de%20Curebourse!5e0!3m2!1sen!2sau!4v1664705744707!5m2!1sen!2sau">
                                            Voir la localisation</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-4 col-md-6 col-12">
                        <div class="wpo-event-item">
                            <div class="wpo-event-text">
                                <h2>La soirée</h2>
                                <ul>
                                    <li>2837 Route d'Eyguières - RD 17 - 13300 Salon-de-Provence</li>
                                    <li> <a class="popup-gmaps"
                                            href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2885.6379196244548!2d5.063094315498517!3d43.67649967912046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12c9ffff2c23596f%3A0x3402bba61cabd6a1!2sLa%20Bergerie%20du%20Domaine%20de%20Curebourse!5e0!3m2!1sen!2sau!4v1664705744707!5m2!1sen!2sau">
                                            Voir la localisation</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div> <!-- end container -->
    </section>
    <!-- end wpo-event-section -->
{% endblock %}
