{% extends 'base.html.twig' %}

{% block title %}Hello SaveTheDateController!{% endblock %}

{% block body %}
    <!-- start of hero -->
    <section class="wpo-hero-slider wpo-hero-style-3">
        <div class="wedding-announcement">
            <div class="couple-text">
                <h2 class="wow slideInUp" data-wow-duration="1s">Laura & Mikah</h2>
                <p class="wow slideInUp" data-wow-duration="1.8s">Venez célébrer avec nous le 2 Septembre 2023</p>
                <!-- start wpo-wedding-date -->
                <div class="wpo-wedding-date wow slideInUp" data-wow-duration="2.1s">
                    <div class="clock-grids">
                        <div id="clock"></div>
                    </div>
                </div>
                <!-- end wpo-wedding-date -->
            </div>
        </div>

        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="slide-inner slide-bg-image" data-background="{{ asset('img/engagment-picture.jpeg') }}">
                    </div> <!-- end slide-inner -->
                </div> <!-- end swiper-slide -->

                <div class="swiper-slide">
                    <div class="slide-inner slide-bg-image" data-background="{{ asset('img/engagment-picture-2.jpeg') }}">
                    </div> <!-- end slide-inner -->
                </div> <!-- end swiper-slide -->
            </div>
            <!-- end swiper-wrapper -->

            <!-- swipper controls -->
            <div class="swiper-pagination"></div>
            <div class="next-prev-btn">
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </section>
    <!-- end of hero slider -->
    <!-- start of wpo-contact-section -->
    <section class="wpo-contact-section section-padding pt-200" id="RSVP">
        <div class="container">
            <div class="row">
                <div class="wpo-section-title">
                    <div class="section-title-icon">
                        <i class="fi flaticon-dove"></i>
                    </div>
                    <h2>Save the date!</h2>
                </div>
            </div>
            <div class="wpo-contact-section-wrapper">
                <div class="wpo-contact-form-area">
                    <div class="wpo-section-title">
                        <div class="section-title-icon">
                            <i class="fi flaticon-dove"></i>
                        </div>
                        <h2>Comment pouvons nous vous contacter?</h2>
                    </div>
                    {{ form_start(form) }}
                    <div>
                        {{ form_widget(form.firstName, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div>
                        {{ form_widget(form.lastName, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div>
                        {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div>
                        {{ form_widget(form.address, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div>
                        {{ form_widget(form.city, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div>
                        {{ form_widget(form.postcode, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div>
                        {{ form_widget(form.country, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="submit-area">
                        {{ form_widget(form.submit) }}
                    </div>
                    {{ form_end(form) }}
                    <div class="border-style"></div>
                </div>
                <div class="vector-1">
                    <img src="assets/images/rsvp/flower1.png" alt="">
                </div>
                <div class="vector-2">
                    <img src="assets/images/rsvp/flower2.png" alt="">
                </div>
            </div>
        </div>
        <div class="shape-1">
            <img src="assets/images/rsvp/shape1.png" alt="">
        </div>
        <div class="shape-2">
            <img src="assets/images/rsvp/shape2.png" alt="">
        </div>
    </section>
    <!-- end of wpo-contact-section -->
{% endblock %}
